<% products.forEach((product) => {%>
   <ul>
           <li id='idElement' class='list-group-item active'><%= product._id %></li> 
           <li class='list-group-item'>Name :<%= product.name %></li> 
           <li class='list-group-item'>Description : <%= product.description %></li> 
           <li class='list-group-item' > Picture : <img width='100px' src="<%= product.picture %>" /> </li>
           <li class='list-group-item'>Time :<%= product.createdAt %></li> 
           <li class='list-group-item'>Index :<%= product.index %></li> 
           <button id='delete' type='button' class="btn btn-danger w-25" productid= <%- product._id %> >Delete</button>

   </ul>
   <% }) %>