<% scores.forEach(function(score){ %>

    <ul>


            <li id='idElement' class='list-group-item active'><%= score.id %></li> 
            <li class='list-group-item'> Villebon:<%= score.homeTeamScore %></li>
            <li class='list-group-item'> Opponent:<%= score.opponentScore %></li>
            <li class='list-group-item'> Equipe de Villebon:<%= score.homeTeam %></li> 
            <li class='list-group-item'> Equipe adverse:<%= score.opponent %></li> 
            <li class='list-group-item'>Result : <%= score.result %></li> 
            <li class='list-group-item'>Time :<%= score.createdAt %></li>  
            <button id='delete' type='button' class="btn btn-danger w-25" scoreid= <%- score._id %> > Delete </button>
    </ul>
    <% }) %>