<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <button id='retour' class="btn btn-dark" type="button"> Retour </button> 
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
      <h1> Modifier Score </h1>

      <form class="d-flex flex-column card w-50" method="post" action="/score/<%= score._id %>" >

        <div class="form-group" >
            <label>Score</label>
            <p> <select name='result'>
              <option value=' <%= score.result %> '>  <%= score.result %> </option>
              <option value='Victoire'>Victoire</option>
              <option value='Defaite'>Defaite</option>
              </select> de <input placeholder="nom equipe (ex :sm1, u17...)" value=' <%= score.homeTeam %> ' name='homeTeam' type="text"/> 
              Contre 
              <input placeholder='equipe adverse' name='opponent' type="text" value=' <%= score.opponent %> ' /> : 
              <input type='number' name='homeTeamScore' value=' <%= score.homeTeamScore %> ' placeholder='score villebon' class="w-25" /> - 
              <input type='number' placeholder='score adverse' value=' <%= score.opponentScore %> ' class="w-25" name='opponentScore' /> 
            </p>
        </div>
        <button type="submit" class="btn btn-primary"> Submit</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/javascript/retour.js" ></script>
</body>
</html>